* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 251, 235);
  height: 100vh;
}

.notesApp {
  max-width: 768px;
  margin: 0 auto;
}

.content {
  max-width: 650px;
  margin: 0 auto;
}
